@charset "UTF-8";

body{
	background-color: #ffcc00;	
}

h1{
	font-family: 'Germania One', cursive;
	font-size: 200px;
	margin-bottom: 0px;
}

table{
  background-color: ;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
table td, th, tr{
  border: 1px solid #ddd;
 padding: 8px;
}
table th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #33ccff;
  color: white;
}
table tr{
  background-color: #ddd;
}
table tr:hover{
	background-color:#f2f2f2;
}
table tr:nth-child(even){
  background-color: white;
}
table tr:nth-child(even):hover{
  background-color: #f2f2f2;
}